.inner {
    max-width: 1440px;
    margin: 0 auto;
}

h1>a>img {
    background-color: aqua;
}

.header .inner {
    display: flex;
    align-items: center;
    height: 96px;
}

.header .gnb {
    margin-left: auto;
    margin-right: 240px;
}

.header .gnb>ul {
    display: flex;
    gap: 48px;
}

.header .gnb>ul>li {
    position: relative;
}

.header .gnb>ul>li>a {
    display: block;
    line-height: 96px;
}

.header .gnb>ul>li ul {
    position: absolute;
    left: 50%;
    top: 80px;
    z-index: 1;

    transform: translate(-50%, 0);
    background: #fff;
    border-top: 2px solid #000000;

    display: none;
}

.header .gnb>ul>li:hover ul {
    display: block;
}

.mainVisual {
    position: relative;
    height: calc(100vh);
    background-image: url(../images/img01.jpg);
}

.mainVisual .slg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainVisual .slg h2 {
    font-size: 72px;
    font-weight: 900;
    color: #fff;
    text-align: center;
}

.mainVisual .slg p {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.mainInfo {
    max-width: 1440px;
    margin: 0 auto;
}

.mainInfo .title {
    margin-top: 120px;
}

.mainInfo .title h2 {
    font-size: 32px;
    font-weight: 700;
}

.mainInfo .title p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
}

.mainInfo .inner {
    margin-top: 40px;
    display: flex;
    gap: 24px;
}

.mainInfo .inner .itm .txtBox strong {
    display: block;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.mainInfo .inner .itm .txtBox p {
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    text-align: center;
    line-height: 1.5;
}

.footer {
    padding: 80px 0;
    margin-top: 80px;
    background: #f7f7f7;
}

img {
    max-width: 100%;
}